data/creditcard.csv
data/*.csv
data/*.zip

outputs/models/*.pkl
outputs/models/*.joblib

__pycache__/
*.py[cod]
*$py.class
*.pyo

.env
.venv
env/
venv/
ENV/

.idea/
.vscode/
*.code-workspace

*.egg-info/
dist/
build/
*.egg

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak
